<html>
  <head>
       <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
<style>
 p {
     font-size: 20px;
 }
</style>
  </head>

  <body>
      <main role="main" class="container">
      <h1>Welcome to GQMO</h1>
      <h2>Rules and Terms:</h2>

      <h2> English</h2>
      <p>
Participants are permitted to use a pen, pencil, highlighter and/or other writing implements, as
well as a compass and straightedge. Participants are allowed to use a computer or mobile
device for the sole purpose of accessing the GQMO website or writing their solutions in a word
processor or TeX editor. Usage of any other geometric tools or a calculator is prohibited.
Participants are also forbidden from using any books, scripts, documents, websites or other
resources during the examination, which is strictly closed-book. Participants should not discuss
the problems with anyone else for the duration of the exam period, until Monday midday or send
the exam questions to anyone else. As far as possible, the exam should be taken under test
conditions, in a quiet room with only the permitted materials and a printout of the exam if
desired. ​ The GQMO is a celebration of mathematics and by agreeing to the above
conditions, participants promise to respect and abide by the spirit of the exam as well as
the goodwill of their fellow participants.
      </p>
      <h2>Español</h2>
      <p>
Se permite a los participantes utilizar bolígrafo, lápiz, rotulador y/u otros instrumentos de
escritura, así como compás y regla. Se permite a los participantes utilizar un ordenador o
dispositivo móvil con el único fin de acceder a la página web GQMO o escribir sus soluciones
en un procesador de textos o editor de TeX. Está prohibido el uso de cualquier otra herramienta
geométrica o calculadoras. Está prohibido el uso de libros, guiones, documentos, sitios web u
otros recursos similares durante el examen. El examen es estrictamente a libro cerrado. Los
participantes no deben discutir ni publicar los problemas de forma parcial o total con ninguna
otra persona durante el período del examen, hasta el lunes al mediodía. En la medida de lo
posible, el examen debe tomarse en condiciones similares a una prueba presencial de
olimpiadas. Es decir, en una habitación tranquila sólo con los materiales permitidos y una copia
impresa del examen si así lo desea. ​ La GQMO es una celebración de las matemáticas y al
aceptar las condiciones anteriores, los participantes se comprometen a respetar y acatar
el espíritu del examen así como también la buena voluntad de sus compañeros
participantes.
      </p>
      <img src="/static/arabic.png" />
      <h2>Français</h2>
    <p>
Les candidats ont le droit d'utiliser un stylo, crayon, surligneur, ou tout autre outil qui leur
permettra d'écrire sur leur copie. Équerres et compas sont également autorisés.
Les participants sont autorisés à utiliser un ordinateur ou un appareil mobile dans le seul but
d'accéder au site Web de GQMO ou d'écrire leurs solutions dans un traitement de texte ou un
éditeur TeX. L'utilisation de tout autre outil géométrique ou de calculatrices est interdite.
Les participants n'ont pas non plus le droits d'utiliser quelque livre, note, document, site web, ou
autre ressource externe durant les épreuves. Les participants ne doivent pas discuter des
problèmes avec qui que ce soit pendant toute la durée des épreuves, et ce jusqu'au lundi midi
(GMT), ni d'envoyer leurs propres solutions à qui que ce soit d'autre. Dans la mesure du
possible, l'examen doit être pris dans des conditions de test, dans une salle calme avec
uniquement le matériel autorisé, ainsi qu'une version imprimée de l'examen si on le souhaite.
La GQMO vise à célébrer les mathématiques. Par conséquent, c'est en acceptant et en se
pliant aux conditions ci-dessus que les participants pourront le mieux respecter l'esprit
de ces épreuves et la bonne vonlonté de chacun des participants.
    </p>

    <h2>Deutsch</h2>
    <p>
Teilnehmer dürfen Bleistifte, Kugelschreiber, Highlighter und/oder anderes Schreibzeug, sowie
Zirkel und Lineal verwenden. Weiters ist es erlaubt, einen Computer oder ein mobiles Gerät zu
verwenden, jedoch ausschließlich um die GQMO-Webseite aufzurufen oder um die Lösungen in
einem Textverarbeitungsprogramm/Texteditor niederzuschreiben. Die Verwendung aller
anderer geometrischen Hilfsmittel oder (Taschen)rechner ist untersagt. Zusätzlich ist es
verboten, während dem Bewerb Bücher, Skripten, Dokumente, Webseiten oder andere
Ressourcen zu verwenden. Teilnehmer*innen sollten während des Zeitraums des Bewerbs bis
Montag Mittag nicht mit anderen über den Bewerb sprechen oder die Aufgaben an andere
Leute weiterleiten. Soweit als möglich sollte der Bewerb unter Testbedienungen abgelegt
werden: in einem ruhigen Raum mit ausschließlich zugelassenen Materialien und einem
Ausdruck des Bewerbs falls gewünscht. ​ Die GQMO soll die Mathematik zelebrieren. Durch
Einhalten der oben genannten Regeln versprechen Teilnehmer*innen den
Wettbewerbsgeist als auch das Wohlwollen der anderen Teilnehmer*innen zu
respektieren.
    </p>
    <h2>ไทย</h2>
    <p>
อนุ ญาตให้ผู เ ้ ข า ้ แข ง ่ ขันใช ป
ากกา ดินสอ ปากกาไฮไลท์ และ/หรื อ อุปกรณ์การเขียนอื่นๆ เช น
วงเวียนและไม บ
รรทัด ผู เ ้ ข า
ไม อ ่ นุ ญาตให้ใช เ ้ ครื่ิ อง
แข ง ่ ขันสามารถใช ค
อมพิวเตอร์หรื อโทรศั พท ม
ือถือเพื อเข า ้ เว็บไซต์ GQMO หรื อพิมพ ว ์ ธ ิ ีท า ํ เท า ่ นั น
มืิอเรขาคณิ ตอื่นๆหรื อเครื่ องคิดเลข เราไม อ ่ นุ ญาตให้ผู เ ้ ข า ้ แข ง ่ ขันใช ห
นังสือ เอกสาร เว็บไซต ห
รื อแหล ง ่ ความรู้ อ ่ ื นๆระหว า ่ ง
การสอบเช น
กัน ผู เ ้ ข า ้ แข ง ่ ขันไม ค
สอบให้กับผู อ
สอบกับคนอื่นๆหรื อส ง ่ ข อ
่ ื นจนกว า ่ จะหมดเวลาสอบ (วัน
วรคุยหรื อปรึ กษาข อ
จันทร์เวลา 19.00น.) ถ า ้ หากเป็ นไปได้ ผู เ ้ ข า ้ แข ง ่ ขันควรท า ํ ข อ
สอบภายใต เ ้ งื่อนไขดังกล า ่ ว ภายในห้องที่ไม ม
ีเสียงรบกวน
โดยใช เ ้ พียงอุปกรณ์ที อนุ ญาต และข อ
สอบฉบับพิมพ ถ ์ า ้ คุณต อ
งการGQMO เป็ นการแข ง ่ ขันคณิ ตศาสตร์ และการที่ผู เ ้ ข า
แข ง ่ ขันตกลงตามกติกาข า ้ งต น
นี้ เป็ นการเคารพและปฏิบัติตามสปิ ริตของการสอบและความหวังดีของผู เ ้ ข า ้ แข ง ่ ขันด ว ้ ยกัน
    </p>
    <h2>Русский</h2>
    <p>
Участники могут использовать ручки, карандаши, маркеры и/или другие письменные
принадлежности, а также циркуль и линейку. Участникам разрешается использовать
компьютер или мобильное устройство с единственной целью доступа к веб-сайту GQMO
или написания своих решений в текстовом процессоре или TeX-редакторе.
Использование любых других геометрических инструментов или калькуляторов
запрещено. Участникам также запрещено использовать какие-либо книги, записи,
документы, веб-сайты или другие ресурсы во время экзамена. Участники не могут
обсуждать задачи с кем-либо еще во время периода олимпиады, до полудня
понедельника или отправлять задачи олимпиады кому-либо еще. Насколько это
возможно, тур следует писать в условиях тестирования, в тихой комнате, где только
разрешенные материалы и распечатанные условия, если это необходимо.​ GQMO - это
праздник математики, и, соглашаясь с вышеуказанными условиями, участники
обещают уважать и соблюдать дух экзамена, а также доброжелательность своих
коллег-участников.
    </p>
    <h2>Magyar</h2>
    <p>
A versenyen megengedett segédeszközök: toll, ceruza, egyéb írószer (például szövegkiemelő,
filctoll), körző, vonalzó. Elektronikus eszközök kizárólag a feladatsor letöltéséhez, a megoldások
begépeléséhez, scanneléséhez, illetve a honlapra való feltöltéséhez használhatóak. Bármilyen
más geometriai eszköz és számológép használata tiltott. A feladatok megoldásához semmilyen
írásos, nyomtatott, vagy elektronikus forrás nem használható. A verseny ideje alatt (hétfő
délutánig) tiltott másokkal a feladatokról való kommunikáció. Amennyire csak lehetséges, a
versenyt verseny-jellegű körülmények között írátok meg, azaz egyedül egy szobában, kizárólag
a megengedett segédeszközök és esetlegesen a kinyomtatott feladatsor használatával.​ A
GQMO elsősorban értetek készült, a matematika összekötő erejét jelképezi, ezért kérünk
benneteket, hogy a fent leírt szabályokat tartsátok be versenyzőtársaitok iránti
tiszteletből.
    </p>
    <h2>Eesti</h2>
    <p>
Osalejad võivad kasutada pastakaid, harilikke pliiatseid, markereid ning muid kirjutusvahendeid,
sealhulgas sirkleid ning joonlaudu. Osalejad võivad kasutada arvuteid või nutitelefone, kuid
seda ainult GQMO veebileheküljele juurdepääsuks või oma lahenduste mõnes TeX- või
Word-protsessoris kirjapanekuks. Muude joonestusvahendite või kalkulaatorite kasutamine on
keelatud. Samuti on keelatud igasuguste raamatute, õppematerjalide, dokumentide,
veebilehtede või muude abivahendite kasutamine - võistlus on suletud materjalidega. Osalejad
ei tohi arutada ülesandeid kellegi teisega kuni võistlusperioodi lõpuni (milleks on esmaspäeva
pärastlõuna) ega saata ülesandeid kellelegi edasi. Kui vähegi võimalik, tuleks olümpiaad läbi
viia võistlustingimustes: vaikses toas vaid lubatud materjalidega ning väljaprinditud
ülesannetelehega. ​ GQMO on matemaatika tähtsündmus ja nõustudes reeglitega lubavad
osalejad austada olümpiaadivaimu ja teisi võistlusest osavõtjaid.
    </p>

    <h2>Italiano</h2>
    <p>I partecipanti sono autorizzati a utilizzare una penna, matita, evidenziatore e/o altri strumenti di
scrittura, così come un compasso e un righello. I partecipanti possono utilizzare un computer o
dispositivo mobile per il solo scopo di accedere al sito web GQMO e/o scrivere le loro soluzioni
in un programma di videoscrittura o editor di TeX.
È proibito utilizzare altri strumenti geometrici o una calcolatrice. È inoltre vietato utilizzare libri,
appunti, dispense, documenti, siti web o altre risorse durante l'esame. I partecipanti non devono
discutere i problemi con chiunque altro per l'intera durata degli esami, ossia fino a lunedì a
mezzogiorno. A maggior ragione, non possono diffondere le proprie soluzioni.
Per quanto possibile, l'esame dovrebbe essere svolto in condizioni di gara, in una stanza
tranquilla e con solo i materiali consentiti e, se risulta più comodo, una stampa della prova.
Le GQMO sono una celebrazione della matematica e, acconsentendo a queste condizioni,
i partecipanti promettono di comportarsi secondo lo spirito della gara e nel rispetto della
buona volontà degli altri concorrenti.
    </p>

      <form onsubmit="return checkform();" action="/user/{{uid}}/prob" method="get">
          <p><input id="accept" type="checkbox" name=accept_condition /> Accept Terms and Condition</p>
          <p><input type="submit" value="Start" /></p>
      </form>
      </main>
        <script src="https://code.jquery.com/jquery-3.5.0.slim.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
  function checkform(){
      if ($('#accept').prop('checked')) {
          return true;
      } else {
          alert('Accept conditions');
          return false;
      }
  }
</script>

  </body>
</html>
