<html>
  <head>
       <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
  </head>

  <body>
        <form action="" method="get">
            <label for="lang">Choose language:</label>
            <select name="lang">
                <option value="english">English</option>
                <option value="spanish">Espanol</option>
            </select>
            <label for="lang">Choose level:</label>
            <select name="hard_level">
                <option value="easy">Easy</option>
                <option value="hard">Hard</option>
            </select>
            <input type="submit">Submit</input>
        </form>
        <h2> Hello {{ user.nickname }} welcome to QMO</h2>
        <h2> Lang = {{ lang }}; level = {{ hard_level }} </h2>
        {% if msg %}
        <h3> {{ msg }} </h3>
        {% endif %}
        <h3><a href=''>Click here to download the exam as pdf </a></h3>

        {% for prob in problems %}
        <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">Problem {{loop.index}}</h3>
          </div>
          <div class="panel-body">
              <p> {{ prob }} </p>
                <form id="the_form" action="/upload_solution/{{user.access_uuid}}" method="post">
                  <div class="input-group">
                     <label for="ans">Answer Link:</label>
                     <input name="prob_id" value="{{loop.index}}" type="hidden" />
                     <input name="user_id" value="{{user.uid}}" type="hidden" />
                     <input name="link" type="text" class="form-control" />
                  </div>
                  <button class="btn btn-primary" id="submit_button">Submit</button>
                </form>
          </div>
        </div>
        {% endfor %}

        <script src="https://code.jquery.com/jquery-3.5.0.slim.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  </body>
</html>
