<html>
  <head>
       <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
  </head>

  <body>
        <h2> All submissions </h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Problem #</th>
                    <th scope="col">Language</th>
                    <th scope="col">Link </th>
                    <th scope="col">Grader</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for sublist in submissions %}
                {% for score in sublist %}
                <tr>
                    {% if loop.index == 0 %}
                    <td scope="col">{{ score[0].prob_id }}</td>
                    <td scope="col">{{ score[0].language }}</td>
                    <td scope="col"><a href="/{{ score[0].link }}">{{ score[0].link }}</a></td>
                    {% endif %}
                    <td scope="col">{{score[1].grader}}</td>
                    <td scope="col">{{score[1].comment}}</td>
                    <td scope="col">{{score[1].score}}</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>

        <script src="https://code.jquery.com/jquery-3.5.0.slim.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  </body>
</html>
