<html>
  <head>
       <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
  </head>

  <body class="container">
      <h3> Your name: <input id="grader" /> </h3>
        <h2> All submissions </h2>
            {% for sublist in submissions %}
            {% set score = sublist[0] %}
            <h3>
                Problem # {{ score[0].prob_id }}
                {{ score[0].language }}
                <a href="/{{ score[0].link }}">Solution Link</a>
            </h3>
            {% if score[0].resolved_score %}
            <h3>Resolved to {{ score[0].resolved_score[0].score }} by {{score[0].resolved_score[0].grader}}</h3>
            <b>Comments:</b> {{score[0].resolved_score[0].comment}}
            {% endif %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Score</th>
                        <th scope="col">Grader</th>
                        <th scope="col">Comments</th>
                    </tr>
                </thead>
                <tbody>
                {% for score in sublist %}
                    <tr>
                        <td scope="col">{{score[1].score}}</td>
                        <td scope="col">{{score[1].grader}}</td>
                        <td scope="col">{{score[1].comment}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <input id="resolve_score_{{score[0].uid}}" placeholder="resolve score" />
            <button class="resolve_button" score_id="{{score[0].uid}}" >Save final score</button>
            <p>
            Comments:
            </p>
            <p>
            <textarea id="resolve_comment_{{score[0].uid}}" placeholder="Comments" > </textarea>
            </p>
            <hr/>
            <br/>
            <br/>
            {% endfor %}

    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
function save_final_score(event) {
    console.log('adsdf');
    let uid = parseInt($(event.target).attr('score_id'));
    let score = parseInt($('#resolve_score_' + uid).val());
    let comments = $('#resolve_comment_' + uid).val();
    let grader = $('#grader').val();
    if (Number.isNaN(score)) {
        alert('score should be a number');
        return;
    }
    if (score < 0) {
        alert('score should be positive');
        return;
    }
    if (score > 7) {
        alert('score should be less than 7');
        return;
    }
    if (grader.length == 0) {
        alert('please write your name');
        return;
    }
    $.ajax({
        data: JSON.stringify({
            score: score,
            comment: comments,
            grader: grader
        }),
        method: 'PUT',
        url: '/save_resolve/' + uid,
        success: function() {
            alert('Saved! Saving again will overwrite');
        }
    });
}
$(document).ready(function() {
    $('.resolve_button').on('click', save_final_score);

});
</script>

  </body>
</html>
