<html>
  <head>
       <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
  </head>

  <body>
        <h2> All submissions </h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">User email</th>
                    <th scope="col">Problem #</th>
                    <th scope="col">Language</th>
                    <th scope="col">Timestamp UTC</th>
                    <th scope="col">Link </th>
                </tr>
            </thead>
            <tbody>
                {% for sub, user in submissions %}
                <tr>
                    <td scope="col">{{ user.email }}</td>
                    <td scope="col">{{ sub.prob_id }}</td>
                    <td scope="col">{{ sub.language }}</td>
                    <td scope="col">{{ sub.timestamp.isoformat() }}</td>
                    <td scope="col"><a href="/{{ sub.link }}">{{ sub.link }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <script src="https://code.jquery.com/jquery-3.5.0.slim.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  </body>
</html>
